# S2 - SQL Statement Fundamentals

In [1]:
# Bibliotecas
import os
import sqlite3 as sql
import pandas as pd

In [2]:
# Limit removal for showing pandas.DataFrames' columns
pd.set_option('display.max_columns', None)
# Limit removal for showing pandas.DataFrames' rows
pd.set_option('display.max_rows', None)
# Modification of console with for displaying
pd.set_option('display.width', 8000)

In [3]:
# Conexión y cursor
conn = sql.connect('dvdrental.db')
cur = conn.cursor()

In [4]:
# Ruta de archivos CSV
csv_folder = r'G:\15_Estudio\07 - Udemy\SQL - Portilla Complete Bootcamp'

In [5]:
# Iteración sobre archivos CSV y cargar en SQLite
for csv_file in os.listdir(csv_folder):
    if csv_file.endswith('.csv'):
        table_name = csv_file[:-4]  # Nombre de tabla
        
        # CSV a DataFrame
        try:
            # Caso "film.csv", tabulación
            if csv_file == 'film.csv':
                df = pd.read_csv(
                    os.path.join(csv_folder, csv_file),
                    delimiter = '\t'
                )
            else:
                df = pd.read_csv(
                    os.path.join(csv_folder, csv_file)
                )
            
            # Importar DataFrame a SQLite
            df.to_sql(
                table_name,
                conn,
                if_exists = 'replace',
                index = False
            )
            print(f"Archivo {csv_file} importado correctamente.")
        except Exception as e:
            print(f"Error al procesar {csv_file}: {e}")

Archivo actor.csv importado correctamente.
Archivo address.csv importado correctamente.
Archivo category.csv importado correctamente.
Archivo city.csv importado correctamente.
Archivo country.csv importado correctamente.
Archivo customer.csv importado correctamente.
Archivo film.csv importado correctamente.
Archivo film_actor.csv importado correctamente.
Archivo film_category.csv importado correctamente.
Archivo inventory.csv importado correctamente.
Archivo language.csv importado correctamente.
Archivo payment.csv importado correctamente.
Archivo rental.csv importado correctamente.
Archivo staff.csv importado correctamente.
Archivo store.csv importado correctamente.

In [6]:
# Listar todas las tablas
cur.execute(
    " \
    SELECT name \
    FROM sqlite_master \
    WHERE type = 'table'; \
    "
)
tables = cur.fetchall()

print("Tablas en la base de datos:")
for table in tables:
    print(f"- {table[0]}")
'''
# Opcional: Mostrar algunos registros de una tabla específica (por ejemplo, "film")
try:
    cur.execute("SELECT * FROM film LIMIT 5;")
    rows = cur.fetchall()
    print("\nPrimeros 5 registros de la tabla 'film':")
    for row in rows:
        print(row)
except Exception as e:
    print(f"Error al acceder a la tabla 'film': {e}")
'''

Tablas en la base de datos:
- actor
- address
- category
- city
- country
- customer
- film
- film_actor
- film_category
- inventory
- language
- payment
- rental
- staff
- store

'\n# Opcional: Mostrar algunos registros de una tabla específica (por ejemplo, "film")\ntry:\n    cur.execute("SELECT * FROM film LIMIT 5;")\n    rows = cur.fetchall()\n    print("\nPrimeros 5 registros de la tabla \'film\':")\n    for row in rows:\n        print(row)\nexcept Exception as e:\n    print(f"Error al acceder a la tabla \'film\': {e}")\n'

In [7]:
# Presentándolo como DataFrame de pandas
# Consulta 1: Seleccionar todos los datos de la tabla actor
query = "\
    SELECT *\
    FROM actor;\
    "
all_actors_df = pd.read_sql_query(
    query,
    conn
)
print("Todos los actores:")
print(all_actors_df.head(10))

Todos los actores:
   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness  2013-05-26 14:47:57.62
1         2       Nick      Wahlberg  2013-05-26 14:47:57.62
2         3         Ed         Chase  2013-05-26 14:47:57.62
3         4   Jennifer         Davis  2013-05-26 14:47:57.62
4         5     Johnny  Lollobrigida  2013-05-26 14:47:57.62
5         6      Bette     Nicholson  2013-05-26 14:47:57.62
6         7      Grace        Mostel  2013-05-26 14:47:57.62
7         8    Matthew     Johansson  2013-05-26 14:47:57.62
8         9        Joe         Swank  2013-05-26 14:47:57.62
9        10  Christian         Gable  2013-05-26 14:47:57.62

In [8]:
# Consulta 2: Seleccionar first_name y last_name de la tabla actor
query = "\
    SELECT first_name, last_name\
    FROM actor;\
    "
names_df = pd.read_sql_query(
    query,
    conn
)
print("Nombres de actores:")
print(names_df.head(10))

Nombres de actores:
  first_name     last_name
0   Penelope       Guiness
1       Nick      Wahlberg
2         Ed         Chase
3   Jennifer         Davis
4     Johnny  Lollobrigida
5      Bette     Nicholson
6      Grace        Mostel
7    Matthew     Johansson
8        Joe         Swank
9  Christian         Gable

## 13. Challenge: SELECT

In [9]:
# Consulta e impresión de resultados
query = "\
    SELECT first_name, last_name, email\
    FROM customer;\
    "
results_df = pd.read_sql_query(
    query,
    conn
)
print(results_df.head(10))

  first_name last_name                                email
0      Jared       Ely         jared.ely@sakilacustomer.org
1       Mary     Smith        mary.smith@sakilacustomer.org
2   Patricia   Johnson  patricia.johnson@sakilacustomer.org
3      Linda  Williams    linda.williams@sakilacustomer.org
4    Barbara     Jones     barbara.jones@sakilacustomer.org
5  Elizabeth     Brown   elizabeth.brown@sakilacustomer.org
6   Jennifer     Davis    jennifer.davis@sakilacustomer.org
7      Maria    Miller      maria.miller@sakilacustomer.org
8      Susan    Wilson      susan.wilson@sakilacustomer.org
9   Margaret     Moore    margaret.moore@sakilacustomer.org

In [10]:
# Extra something:
# Consulta e impresión de resultados
query = "\
    SELECT first_name, last_name, email\
    FROM customer\
    LIMIT 5; /* Aquí se limitan las filas a mostrar */ \
    "
results_df = pd.read_sql_query(
    query,
    conn
)
print(results_df.head(10)) # Como se limitaron antes, este límite de 10 queda redundante

  first_name last_name                                email
0      Jared       Ely         jared.ely@sakilacustomer.org
1       Mary     Smith        mary.smith@sakilacustomer.org
2   Patricia   Johnson  patricia.johnson@sakilacustomer.org
3      Linda  Williams    linda.williams@sakilacustomer.org
4    Barbara     Jones     barbara.jones@sakilacustomer.org

That's useful to give a look at what a table looks like.

More like that:

In [11]:
# Consulta
query = "\
    SELECT *\
    FROM customer\
    LIMIT 5;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   customer_id  store_id first_name last_name                                email  address_id activebool create_date              last_update  active
0          524         1      Jared       Ely         jared.ely@sakilacustomer.org         530          t  2006-02-14  2013-05-26 14:49:45.738       1
1            1         1       Mary     Smith        mary.smith@sakilacustomer.org           5          t  2006-02-14  2013-05-26 14:49:45.738       1
2            2         1   Patricia   Johnson  patricia.johnson@sakilacustomer.org           6          t  2006-02-14  2013-05-26 14:49:45.738       1
3            3         1      Linda  Williams    linda.williams@sakilacustomer.org           7          t  2006-02-14  2013-05-26 14:49:45.738       1
4            4         2    Barbara     Jones     barbara.jones@sakilacustomer.org           8          t  2006-02-14  2013-05-26 14:49:45.738       1

Excepto que haya alguna forma de realmente lograr que el ancho de la impresión sea mayor, se evidencia que Jupyter Notebook no es un buen entorno para visualizar consultas SQL resultantes en muchas columnas.

## 14. SELECT DISTINCT

In [12]:
# Consulta
query = "\
    SELECT DISTINCT (release_year)\
    FROM film;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   release_year
0          2006

In [13]:
# Consulta
query = "\
    SELECT DISTINCT (rental_rate)\
    FROM film;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   rental_rate
0         4.99
1         0.99
2         2.99

## 15. Challenge: SELECT DISTINCT

In [14]:
# Consulta
query = "\
    SELECT DISTINCT (rating)\
    FROM film;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

  rating
0  NC-17
1      R
2  PG-13
3     PG
4      G

## 16. COUNT

In [15]:
# Consulta
query = "\
    SELECT COUNT *\
    FROM film; /* This is invalid syntax. Parenthesis! */ \
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

DatabaseError: Execution failed on sql '    SELECT COUNT *    FROM film; /* This is invalid syntax. Parenthesis! */     ': near "FROM": syntax error

In [16]:
# Consulta
query = "\
    SELECT COUNT (*)\
    FROM film; \
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT (*)
0       1000

Use a column name instead of \*, because it might refresh memory on what 
question was trying to be answered (when revisiting the query at a later time).

Combine with DISTINCT --> how many unique values.

In [17]:
# Consulta
query = "\
    SELECT COUNT(DISTINCT (rating))\
    FROM film;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(DISTINCT (rating))
0                         5

Examples from video.

In [18]:
# Consulta
query = "\
    SELECT *\
    FROM payment;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df.head(20)) # Limito la cantidad de filas del resultado por practicidad

    payment_id  customer_id  staff_id  rental_id  amount                payment_date
0        17503          341         2       1520    7.99  2007-02-15 22:25:46.996577
1        17504          341         1       1778    1.99  2007-02-16 17:23:14.996577
2        17505          341         1       1849    7.99  2007-02-16 22:41:45.996577
3        17506          341         2       2829    2.99  2007-02-19 19:39:56.996577
4        17507          341         2       3130    7.99  2007-02-20 17:31:48.996577
5        17508          341         1       3382    5.99  2007-02-21 12:33:49.996577
6        17509          342         2       2190    5.99  2007-02-17 23:58:17.996577
7        17510          342         1       2914    5.99  2007-02-20 02:11:44.996577
8        17511          342         1       3081    2.99  2007-02-20 13:57:39.996577
9        17512          343         2       1547    4.99  2007-02-16 00:10:50.996577
10       17513          343         1       1564    6.99  2007-02-16 01:15:33.996577
11       17514          343         2       1879    0.99  2007-02-17 01:26:00.996577
12       17515          343         2       1922    0.99  2007-02-17 04:32:51.996577
13       17516          343         2       2461    6.99  2007-02-18 18:26:38.996577
14       17517          343         1       2980    8.99  2007-02-20 07:03:29.996577
15       17518          343         1       3407    0.99  2007-02-21 14:42:28.996577
16       17519          344         1       1341    3.99  2007-02-15 10:54:44.996577
17       17520          344         2       1475    4.99  2007-02-15 19:36:27.996577
18       17521          344         1       1731    0.99  2007-02-16 14:00:38.996577
19       17522          345         2       1210    0.99  2007-02-15 01:26:17.996577

In [19]:
# Consulta
query = "\
    SELECT COUNT(*)\
    FROM payment;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(*)
0     14596

In [20]:
# Consulta
query = "\
    SELECT COUNT(amount) /* counting only over one column */ \
    FROM payment; /* will return same result as last query */ \
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(amount) /* counting only over one column */
0                                              14596

In [21]:
# Consulta
query = "\
    SELECT COUNT(DISTINCT (amount))\
    FROM payment;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(DISTINCT (amount))
0                        19

## 17. SELECT WHERE pt. 1

In [22]:
# Consulta
query = "\
    SELECT *\
    FROM film\
    LIMIT 1;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   film_id            title                                        description  release_year  language_id  rental_duration  rental_rate  length  replacement_cost rating              last_update special_features                                           fulltext
0      133  Chamber Italian  A Fateful Reflection of a Moose And a Husband ...          2006            1                7         4.99     117             14.99  NC-17  2013-05-26 14:50:58.951       {Trailers}  'chamber':1 'fate':4 'husband':11 'italian':2 ...

In [23]:
# Consulta
query = "\
    SELECT DISTINCT (rental_duration)\
    FROM film;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   rental_duration
0                7
1                5
2                6
3                4
4                3

EXAMPLE:

In [24]:
# Consulta
query = "\
    SELECT title, length, description\
    FROM film\
    WHERE rating = 'PG-13'\
        AND rental_duration = 6;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df.head(10))

                title  length                                        description
0     Airplane Sierra      62  A Touching Saga of a Hunter And a Butler who m...
1       Alter Victory      57  A Thoughtful Drama of a Composer And a Feminis...
2  Beethoven Exorcist     151  A Epic Display of a Pioneer And a Student who ...
3       Blindness Gun     103  A Touching Drama of a Robot And a Dentist who ...
4       Butch Panther      67  A Lacklusture Yarn of a Feminist And a Databas...
5       Chicago North     185  A Fateful Yarn of a Mad Cow And a Waitress who...
6     Cleopatra Devil     150  A Fanciful Documentary of a Crocodile And a Te...
7  Congeniality Quest      87  A Touching Documentary of a Cat And a Pastry C...
8     Crooked Frogmen     143  A Unbelieveable Drama of a Hunter And a Databa...
9        Deep Crusade      51  A Amazing Tale of a Crocodile And a Squirrel w...

## 18. SELECT WHERE pt. 2

In [25]:
# Consulta
query = "\
    SELECT *\
    FROM customer;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df.head(10))

   customer_id  store_id first_name last_name                                email  address_id activebool create_date              last_update  active
0          524         1      Jared       Ely         jared.ely@sakilacustomer.org         530          t  2006-02-14  2013-05-26 14:49:45.738       1
1            1         1       Mary     Smith        mary.smith@sakilacustomer.org           5          t  2006-02-14  2013-05-26 14:49:45.738       1
2            2         1   Patricia   Johnson  patricia.johnson@sakilacustomer.org           6          t  2006-02-14  2013-05-26 14:49:45.738       1
3            3         1      Linda  Williams    linda.williams@sakilacustomer.org           7          t  2006-02-14  2013-05-26 14:49:45.738       1
4            4         2    Barbara     Jones     barbara.jones@sakilacustomer.org           8          t  2006-02-14  2013-05-26 14:49:45.738       1
5            5         1  Elizabeth     Brown   elizabeth.brown@sakilacustomer.org           9          t  2006-02-14  2013-05-26 14:49:45.738       1
6            6         2   Jennifer     Davis    jennifer.davis@sakilacustomer.org          10          t  2006-02-14  2013-05-26 14:49:45.738       1
7            7         1      Maria    Miller      maria.miller@sakilacustomer.org          11          t  2006-02-14  2013-05-26 14:49:45.738       1
8            8         2      Susan    Wilson      susan.wilson@sakilacustomer.org          12          t  2006-02-14  2013-05-26 14:49:45.738       1
9            9         2   Margaret     Moore    margaret.moore@sakilacustomer.org          13          t  2006-02-14  2013-05-26 14:49:45.738       1

In [26]:
# Consulta
query = "\
    SELECT * FROM customer\
    WHERE first_name = 'Jared';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   customer_id  store_id first_name last_name                         email  address_id activebool create_date              last_update  active
0          524         1      Jared       Ely  jared.ely@sakilacustomer.org         530          t  2006-02-14  2013-05-26 14:49:45.738       1

In [27]:
# Consulta
query = "\
    SELECT * FROM film\
    WHERE rental_rate > 4;\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

     film_id                      title                                        description  release_year  language_id  rental_duration  rental_rate  length  replacement_cost rating              last_update                                   special_features                                           fulltext
0        133            Chamber Italian  A Fateful Reflection of a Moose And a Husband ...          2006            1                7         4.99     117             14.99  NC-17  2013-05-26 14:50:58.951                                         {Trailers}  'chamber':1 'fate':4 'husband':11 'italian':2 ...
1        384           Grosse Wonderful  A Epic Drama of a Cat And a Explorer who must ...          2006            1                5         4.99      49             19.99      R  2013-05-26 14:50:58.951                              {"Behind the Scenes"}  'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2          8            Airport Pollock  A Epic Tale of a Moose And a Girl who must Con...          2006            1                6         4.99      54             15.99      R  2013-05-26 14:50:58.951                                         {Trailers}  'airport':1 'ancient':18 'confront':14 'epic':...
3         98          Bright Encounters  A Fateful Yarn of a Lumberjack And a Feminist ...          2006            1                4         4.99      73             12.99  PG-13  2013-05-26 14:50:58.951                                         {Trailers}  'boat':20 'bright':1 'conquer':14 'encount':2 ...
4          2             Ace Goldfinger  A Astounding Epistle of a Database Administrat...          2006            1                3         4.99      48             12.99      G  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'ace':1 'administr':9 'ancient':19 'astound':4...
5          7            Airplane Sierra  A Touching Saga of a Hunter And a Butler who m...          2006            1                6         4.99      62             28.99  PG-13  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'airplan':1 'boat':20 'butler':11,16 'discov':...
6         10           Aladdin Calendar  A Action-Packed Tale of a Man And a Lumberjack...          2006            1                6         4.99      63             24.99  NC-17  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'action':5 'action-pack':4 'aladdin':1 'ancien...
7         13                Ali Forever  A Action-Packed Drama of a Dentist And a Croco...          2006            1                4         4.99     150             21.99     PG  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'action':5 'action-pack':4 'ali':1 'battl':16 ...
8         20        Amelie Hellfighters  A Boring Drama of a Woman And a Squirrel who m...          2006            1                4         4.99      79             23.99      R  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'ameli':1 'baloon':19 'bore':4 'conquer':14 'd...
9         21            American Circus  A Insightful Drama of a Girl And a Astronaut w...          2006            1                3         4.99     129             17.99      R  2013-05-26 14:50:58.951                 {Commentaries,"Behind the Scenes"}  'administr':17 'american':1 'astronaut':11 'ci...
10        28                Anthem Luke  A Touching Panorama of a Waitress And a Woman ...          2006            1                5         4.99      91             16.99  PG-13  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'abandon':19 'amus':20 'anthem':1 'dog':16 'lu...
11        31              Apache Divine  A Awe-Inspiring Reflection of a Pastry Chef An...          2006            1                5         4.99      92             16.99  NC-17  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'apach':1 'awe':5 'awe-inspir':4 'boat':25 'ch...
12        32       Apocalypse Flamingos  A Astounding Story of a Dog And a Squirrel who...          2006            1                6         4.99     119             11.99      R  2013-05-26 14:50:58.951                            {Trailers,Commentaries}  'abandon':19 'amus':20 'apocalyps':1 'astound'...
13       265                Dying Maker  A Intrepid Tale of a Boat And a Monkey who mus...          2006            1                5         4.99     168             28.99     PG  2013-05-26 14:50:58.951                              {"Behind the Scenes"}  'boat':8 'california':18 'cat':16 'die':1 'int...
14        44               Attacks Hate  A Fast-Paced Panorama of a Technical Writer An...          2006            1                5         4.99     113             21.99  PG-13  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'abandon':23 'attack':1 'fast':5 'fast-pac':4 ...
15        45          Attraction Newton  A Astounding Panorama of a Composer And a Fris...          2006            1                5         4.99      83             14.99  PG-13  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'ancient':18 'astound':4 'attract':1 'compos':...
16        46                Autumn Crow  A Beautiful Tale of a Dentist And a Mad Cow wh...          2006            1                3         4.99     108             13.99      G  2013-05-26 14:50:58.951  {Trailers,Commentaries,"Deleted Scenes","Behin...  'autumn':1 'battl':15 'beauti':4 'cow':12 'cro...
17        47                  Baby Hall  A Boring Character Study of a A Shark And a Gi...          2006            1                5         4.99     153             23.99  NC-17  2013-05-26 14:50:58.951                                     {Commentaries}  'abandon':21 'babi':1 'bore':4 'charact':5 'fe...
18        48        Backlash Undefeated  A Stunning Character Study of a Mad Scientist ...          2006            1                3         4.99     118             24.99  PG-13  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'backlash':1 'car':19 'charact':5 'cow':14 'ki...
19       126          Casualties Encino  A Insightful Yarn of a A Shark And a Pastry Ch...          2006            1                3         4.99     179             16.99      G  2013-05-26 14:50:58.951                                         {Trailers}  'boy':18 'casualti':1 'chef':13 'encino':2 'fa...
20        60            Beast Hunchback  A Awe-Inspiring Epistle of a Student And a Squ...          2006            1                3         4.99      89             22.99      R  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'ancient':20 'awe':5 'awe-inspir':4 'beast':1 ...
21        61              Beauty Grease  A Fast-Paced Display of a Composer And a Moose...          2006            1                5         4.99     175             28.99      G  2013-05-26 14:50:58.951                            {Trailers,Commentaries}  'abandon':21 'beauti':1 'compos':10 'display':...
22        65           Behavior Runaway  A Unbelieveable Drama of a Student And a Husba...          2006            1                3         4.99     100             20.99     PG  2013-05-26 14:50:58.951    {Trailers,"Deleted Scenes","Behind the Scenes"}  'behavior':1 'berlin':19 'drama':5 'husband':1...
23        68              Betrayed Rear  A Emotional Character Study of a Boat And a Pi...          2006            1                5         4.99     122             26.99  NC-17  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'betray':1 'boat':9 'charact':5 'emot':4 'expl...
24        70           Bikini Borrowers  A Astounding Drama of a Astronaut And a Cat wh...          2006            1                7         4.99     142             26.99  NC-17  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'astound':4 'astronaut':8 'bikini':1 'borrow':...
25        71            Bilko Anonymous  A Emotional Reflection of a Teacher And a Man ...          2006            1                3         4.99     100             25.99  PG-13  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'anonym':2 'bilko':1 'cat':16 'emot':4 'first'...
26        74            Birch Antitrust  A Fanciful Panorama of a Husband And a Pioneer...          2006            1                4         4.99     162             18.99     PG  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'antitrust':2 'baloon':19 'birch':1 'dog':16 '...
27        75          Bird Independence  A Thrilling Documentary of a Car And a Student...          2006            1                6         4.99     163             14.99      G  2013-05-26 14:50:58.951                 {Commentaries,"Behind the Scenes"}  'bird':1 'canadian':19 'car':8 'documentari':5...
28        77            Birds Perdition  A Boring Story of a Womanizer And a Pioneer wh...          2006            1                5         4.99      61             15.99      G  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'bird':1 'bore':4 'california':18 'dog':16 'fa...
29        81              Blindness Gun  A Touching Drama of a Robot And a Dentist who ...          2006            1                6         4.99     103             29.99  PG-13  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'blind':1 'boat':20 'dentist':11 'drama':5 'gu...
30        84               Boiled Dares  A Awe-Inspiring Story of a Waitress And a Dog ...          2006            1                7         4.99     102             13.99     PG  2013-05-26 14:50:58.951                            {Trailers,Commentaries}  'ancient':20 'awe':5 'awe-inspir':4 'boil':1 '...
31        86              Boogie Amelie  A Lacklusture Character Study of a Husband And...          2006            1                6         4.99     121             11.99      R  2013-05-26 14:50:58.951                 {Commentaries,"Behind the Scenes"}  'ameli':2 'boogi':1 'charact':5 'gulf':22 'hus...
32        88                Born Spinal  A Touching Epistle of a Frisbee And a Husband ...          2006            1                7         4.99     179             17.99     PG  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'born':1 'epistl':5 'frisbe':8 'husband':11 'm...
33        92           Bowfinger Gables  A Fast-Paced Yarn of a Waitress And a Composer...          2006            1                7         4.99      72             19.99  NC-17  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'bowfing':1 'california':20 'compos':13 'denti...
34        93          Brannigan Sunrise  A Amazing Epistle of a Moose And a Crocodile w...          2006            1                4         4.99     121             27.99     PG  2013-05-26 14:50:58.951                                         {Trailers}  'amaz':4 'berlin':18 'brannigan':1 'crocodil':...
35        95       Breakfast Goldfinger  A Beautiful Reflection of a Student And a Stud...          2006            1                5         4.99     123             18.99      G  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'beauti':4 'berlin':18 'breakfast':1 'fight':1...
36       100            Brooklyn Desert  A Beautiful Drama of a Dentist And a Composer ...          2006            1                7         4.99     161             21.99      R  2013-05-26 14:50:58.951                                     {Commentaries}  'battl':14 'beauti':4 'brooklyn':1 'compos':11...
37       102              Bubble Grosse  A Awe-Inspiring Panorama of a Crocodile And a ...          2006            1                4         4.99      60             20.99      R  2013-05-26 14:50:58.951  {Trailers,Commentaries,"Deleted Scenes","Behin...  'awe':5 'awe-inspir':4 'baloon':21 'bubbl':1 '...
38       103         Bucket Brotherhood  A Amazing Display of a Girl And a Womanizer wh...          2006            1                7         4.99     133             27.99     PG  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'amaz':4 'baloon':19 'brotherhood':2 'bucket':...
39       112          Calendar Gunfight  A Thrilling Drama of a Frisbee And a Lumberjac...          2006            1                4         4.99     120             22.99  NC-17  2013-05-26 14:50:58.951        {Trailers,Commentaries,"Behind the Scenes"}  'calendar':1 'drama':5 'frisbe':8 'gunfight':2...
40       113           California Birds  A Thrilling Yarn of a Database Administrator A...          2006            1                4         4.99      75             19.99  NC-17  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'administr':9,18 'ancient':20 'battl':15 'bird...
41       117             Candles Grapes  A Fanciful Character Study of a Monkey And a E...          2006            1                6         4.99     135             15.99  NC-17  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'abandon':20 'astronaut':17 'build':15 'candl'...
42       120          Caribbean Liberty  A Fanciful Tale of a Pioneer And a Technical W...          2006            1                3         4.99      92             16.99  NC-17  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'caribbean':1 'fanci':4 'liberti':2 'must':14 ...
43       123           Casablanca Super  A Amazing Panorama of a Crocodile And a Forens...          2006            1                6         4.99      85             22.99      G  2013-05-26 14:50:58.951    {Trailers,"Deleted Scenes","Behind the Scenes"}  'agent':18 'amaz':4 'casablanca':1 'crocodil':...
44       124           Casper Dragonfly  A Intrepid Documentary of a Boat And a Crocodi...          2006            1                3         4.99     163             16.99  PG-13  2013-05-26 14:50:58.951                                         {Trailers}  'boat':8 'casper':1 'chase':14 'crocodil':11 '...
45       127              Cat Coneheads  A Fast-Paced Panorama of a Girl And a A Shark ...          2006            1                5         4.99     112             14.99      G  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'ancient':21 'boy':19 'cat':1 'conehead':2 'co...
46       131            Center Dinosaur  A Beautiful Character Study of a Sumo Wrestler...          2006            1                5         4.99     152             12.99     PG  2013-05-26 14:50:58.951                                 {"Deleted Scenes"}  'beauti':4 'california':20 'center':1 'charact...
47       134        Champion Flatliners  A Amazing Story of a Mad Cow And a Dog who mus...          2006            1                4         4.99      51             21.99     PG  2013-05-26 14:50:58.951                                         {Trailers}  'amaz':4 'champion':1 'cow':9 'dog':12 'flatli...
48       139              Chasing Fight  A Astounding Saga of a Technical Writer And a ...          2006            1                7         4.99     114             21.99     PG  2013-05-26 14:50:58.951                            {Trailers,Commentaries}  'astound':4 'battl':15 'butler':12,17 'chase':...
49       141              Chicago North  A Fateful Yarn of a Mad Cow And a Waitress who...          2006            1                6         4.99     185             11.99  PG-13  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'battl':15 'california':19 'chicago':1 'cow':9...
50       144        Chinatown Gladiator  A Brilliant Panorama of a Technical Writer And...          2006            1                7         4.99      61             24.99     PG  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'ancient':19 'brilliant':4 'butler':17 'chinat...
51       145            Chisum Behavior  A Epic Documentary of a Sumo Wrestler And a Bu...          2006            1                5         4.99     124             25.99      G  2013-05-26 14:50:58.951        {Trailers,Commentaries,"Behind the Scenes"}  'ancient':19 'behavior':2 'butler':12 'car':17...
52       151       Cincinatti Whisperer  A Brilliant Saga of a Pastry Chef And a Hunter...          2006            1                5         4.99     143             26.99  NC-17  2013-05-26 14:50:58.951                                 {"Deleted Scenes"}  'berlin':19 'brilliant':4 'butler':17 'chef':9...
53       156              Clerks Angels  A Thrilling Display of a Sumo Wrestler And a G...          2006            1                3         4.99     164             15.99      G  2013-05-26 14:50:58.951                                     {Commentaries}  'angel':2 'baloon':20 'clerk':1 'confront':15 ...
54       159                Closer Bang  A Unbelieveable Panorama of a Frisbee And a Hu...          2006            1                5         4.99      58             12.99      R  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'ancient':18 'bang':2 'closer':1 'frisbe':8 'h...
55       161                 Clue Grail  A Taut Tale of a Butler And a Mad Scientist wh...          2006            1                6         4.99      70             27.99  NC-17  2013-05-26 14:50:58.951        {Trailers,Commentaries,"Behind the Scenes"}  'ancient':19 'build':15 'butler':8 'china':20 ...
56       165        Coldblooded Darling  A Brilliant Panorama of a Dentist And a Moose ...          2006            1                7         4.99      70             27.99      G  2013-05-26 14:50:58.951                        {Trailers,"Deleted Scenes"}  'brilliant':4 'coldblood':1 'darl':2 'dentist'...
57       167                  Coma Head  A Awe-Inspiring Drama of a Boy And a Frisbee w...          2006            1                6         4.99     109             10.99  NC-17  2013-05-26 14:50:58.951                                     {Commentaries}  'awe':5 'awe-inspir':4 'boy':10 'california':2...
58       170            Command Darling  A Awe-Inspiring Tale of a Forensic Psychologis...          2006            1                5         4.99     120             28.99  PG-13  2013-05-26 14:50:58.951                              {"Behind the Scenes"}  'administr':20 'ancient':22 'awe':5 'awe-inspi...
59       171       Commandments Express  A Fanciful Saga of a Student And a Mad Scienti...          2006            1                6         4.99      59             13.99      R  2013-05-26 14:50:58.951           {Trailers,Commentaries,"Deleted Scenes"}  'abandon':20 'battl':15 'command':1 'express':...
60       172          Coneheads Smoochy  A Touching Story of a Womanizer And a Composer...          2006            1                7         4.99     112             12.99  NC-17  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'compos':11 'conehead':1 'husband':16 'must':1...
61       173        Confessions Maguire  A Insightful Story of a Car And a Boy who must...          2006            1                7         4.99      65             25.99  PG-13  2013-05-26 14:50:58.951                              {"Behind the Scenes"}  'baloon':20 'battl':14 'boy':11 'car':8 'confe...
62       174     Confidential Interview  A Stunning Reflection of a Cat And a Woman who...          2006            1                6         4.99     180             13.99  NC-17  2013-05-26 14:50:58.951                                     {Commentaries}  'ancient':18 'astronaut':16 'cat':8 'confident...

In [28]:
# Consulta
query = "\
    SELECT *\
    FROM film\
    WHERE rental_rate > 4\
        AND replacement_cost >= 19.99\
        AND rating = 'R';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df.head(10))

   film_id                title                                        description  release_year  language_id  rental_duration  rental_rate  length  replacement_cost rating              last_update                                   special_features                                           fulltext
0      384     Grosse Wonderful  A Epic Drama of a Cat And a Explorer who must ...          2006            1                5         4.99      49             19.99      R  2013-05-26 14:50:58.951                              {"Behind the Scenes"}  'australia':18 'cat':8 'drama':5 'epic':4 'exp...
1       20  Amelie Hellfighters  A Boring Drama of a Woman And a Squirrel who m...          2006            1                4         4.99      79             23.99      R  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'ameli':1 'baloon':19 'bore':4 'conquer':14 'd...
2       60      Beast Hunchback  A Awe-Inspiring Epistle of a Student And a Squ...          2006            1                3         4.99      89             22.99      R  2013-05-26 14:50:58.951             {"Deleted Scenes","Behind the Scenes"}  'ancient':20 'awe':5 'awe-inspir':4 'beast':1 ...
3      100      Brooklyn Desert  A Beautiful Drama of a Dentist And a Composer ...          2006            1                7         4.99     161             21.99      R  2013-05-26 14:50:58.951                                     {Commentaries}  'battl':14 'beauti':4 'brooklyn':1 'compos':11...
4      102        Bubble Grosse  A Awe-Inspiring Panorama of a Crocodile And a ...          2006            1                4         4.99      60             20.99      R  2013-05-26 14:50:58.951  {Trailers,Commentaries,"Deleted Scenes","Behin...  'awe':5 'awe-inspir':4 'baloon':21 'bubbl':1 '...
5      177    Connecticut Tramp  A Unbelieveable Drama of a Crocodile And a Mad...          2006            1                4         4.99     172             20.99      R  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'connecticut':1 'cow':12 'crocodil':8 'dentist...
6      192     Crossing Divorce  A Beautiful Documentary of a Dog And a Robot w...          2006            1                4         4.99      50             19.99      R  2013-05-26 14:50:58.951  {Commentaries,"Deleted Scenes","Behind the Sce...  'beauti':4 'berlin':18 'cross':1 'divorc':2 'd...
7      222      Desert Poseidon  A Brilliant Documentary of a Butler And a Fris...          2006            1                4         4.99      64             27.99      R  2013-05-26 14:50:58.951                     {Trailers,"Behind the Scenes"}  'astronaut':16 'brilliant':4 'build':14 'butle...
8      256      Drop Waterfront  A Fanciful Documentary of a Husband And a Expl...          2006            1                6         4.99     178             20.99      R  2013-05-26 14:50:58.951                            {Trailers,Commentaries}  'ancient':18 'china':19 'documentari':5 'drop'...
9      310         Fever Empire  A Insightful Panorama of a Cat And a Boat who ...          2006            1                5         4.99     158             20.99      R  2013-05-26 14:50:58.951                    {Commentaries,"Deleted Scenes"}  'boat':11,16 'cat':8 'defeat':14 'empir':2 'fe...

In [29]:
# Consulta
query = "\
    SELECT title\
    FROM film\
    WHERE rental_rate > 4\
        AND replacement_cost >= 19.99\
        AND rating = 'R';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

                    title
0        Grosse Wonderful
1     Amelie Hellfighters
2         Beast Hunchback
3         Brooklyn Desert
4           Bubble Grosse
5       Connecticut Tramp
6        Crossing Divorce
7         Desert Poseidon
8         Drop Waterfront
9            Fever Empire
10           Fiddler Lost
11            Flight Lies
12       Fugitive Maguire
13             Gold River
14     Graceland Dynamite
15         Grinch Massage
16            Guys Falcon
17          Head Stranger
18       Ishtar Rocketeer
19         Madigan Dorado
20               Opus Ice
21            Quills Bull
22         Requiem Tycoon
23            Rules Human
24            Sense Greek
25       Slacker Liaisons
26     Soldiers Evolution
27  Stagecoach Armageddon
28     Strangers Graffiti
29          Submarine Bed
30            Ties Hunger
31            Train Bunch
32          Wash Heavenly
33    Working Microcosmos

In [30]:
# Consulta
query = "\
    SELECT COUNT(title)\
    FROM film /* or COUNT(*) */ \
    WHERE rental_rate > 4\
        AND replacement_cost >= 19.99\
        AND rating = 'R';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(title)
0            34

In [31]:
# Consulta
query = "\
    SELECT COUNT(*)\
    FROM film\
    WHERE rating = 'R'\
        OR rating = 'PG-13';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

   COUNT(*)
0       418

In [32]:
# Consulta
query = "\
    SELECT *\
    FROM film\
    WHERE rating != 'R';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df.head(10))

   film_id              title                                        description  release_year  language_id  rental_duration  rental_rate  length  replacement_cost rating              last_update                        special_features                                           fulltext
0      133    Chamber Italian  A Fateful Reflection of a Moose And a Husband ...          2006            1                7         4.99     117             14.99  NC-17  2013-05-26 14:50:58.951                              {Trailers}  'chamber':1 'fate':4 'husband':11 'italian':2 ...
1       98  Bright Encounters  A Fateful Yarn of a Lumberjack And a Feminist ...          2006            1                4         4.99      73             12.99  PG-13  2013-05-26 14:50:58.951                              {Trailers}  'boat':20 'bright':1 'conquer':14 'encount':2 ...
2        1   Academy Dinosaur  A Epic Drama of a Feminist And a Mad Scientist...          2006            1                6         0.99      86             20.99     PG  2013-05-26 14:50:58.951  {"Deleted Scenes","Behind the Scenes"}  'academi':1 'battl':15 'canadian':20 'dinosaur...
3        2     Ace Goldfinger  A Astounding Epistle of a Database Administrat...          2006            1                3         4.99      48             12.99      G  2013-05-26 14:50:58.951             {Trailers,"Deleted Scenes"}  'ace':1 'administr':9 'ancient':19 'astound':4...
4        3   Adaptation Holes  A Astounding Reflection of a Lumberjack And a ...          2006            1                7         2.99      50             18.99  NC-17  2013-05-26 14:50:58.951             {Trailers,"Deleted Scenes"}  'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
5        4   Affair Prejudice  A Fanciful Documentary of a Frisbee And a Lumb...          2006            1                5         2.99     117             26.99      G  2013-05-26 14:50:58.951      {Commentaries,"Behind the Scenes"}  'affair':1 'chase':14 'documentari':5 'fanci':...
6        5        African Egg  A Fast-Paced Documentary of a Pastry Chef And ...          2006            1                6         2.99     130             22.99      G  2013-05-26 14:50:58.951                      {"Deleted Scenes"}  'african':1 'chef':11 'dentist':14 'documentar...
7        6       Agent Truman  A Intrepid Panorama of a Robot And a Boy who m...          2006            1                3         2.99     169             17.99     PG  2013-05-26 14:50:58.951                      {"Deleted Scenes"}  'agent':1 'ancient':19 'boy':11 'china':20 'es...
8        7    Airplane Sierra  A Touching Saga of a Hunter And a Butler who m...          2006            1                6         4.99      62             28.99  PG-13  2013-05-26 14:50:58.951             {Trailers,"Deleted Scenes"}  'airplan':1 'boat':20 'butler':11,16 'discov':...
9        9      Alabama Devil  A Thoughtful Panorama of a Database Administra...          2006            1                3         2.99     114             21.99  PG-13  2013-05-26 14:50:58.951             {Trailers,"Deleted Scenes"}  'administr':9 'alabama':1 'boat':23 'databas':...

## 19. Challenge: SELECT WHERE

1. What is the email of customer Nancy Thomas?

In [33]:
# Consulta
query = "\
    SELECT first_name, last_name, email\
    FROM customer\
    WHERE first_name = 'Nancy'\
        AND last_name = 'Thomas';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

  first_name last_name                            email
0      Nancy    Thomas  nancy.thomas@sakilacustomer.org

2. What is the description of the movie Outlaw Hanky?

In [34]:
# Consulta
query = "\
    SELECT title, description\
    FROM film\
    WHERE title = 'Outlaw Hanky';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

          title                                        description
0  Outlaw Hanky  A Thoughtful Story of a Astronaut And a Compos...

3. Get the phone number for the address 259 Ipoh Drive.

In [35]:
# Consulta
query = "\
    SELECT phone\
    FROM address\
    WHERE address = '259 Ipoh Drive';\
    "
# DataFrame desde consulta
results_df = pd.read_sql_query(
    query,
    conn
)
# Impresión
print(results_df)

          phone
0  4.190099e+11